<div class="container">
  <div class="row">
    <div class="col-8">
      <br><br><br>
        <img src="../../assets/map.png" width="60%" alt="Minamalist UK map">
    </div>
    <div class="col">
      <br><br><br>
      <p>
        <a href="mailto:aidan@aidanabbott.co.uk" target="top"> <img src="../../assets/icons/MailIcon.svg" width={{iconWidth}}>   aidan@aidanabbott.co.uk</a>
      </p>
      <p>
        <a href="http://www.linkedin.com/in/aidan-abbott"> <img src="../../assets/icons/LinkedinIcon.svg" width={{iconWidth}}></a> <br>
      </p>
      <p>
        <a href="http://www.github.com/atabbott"> <img src="../../assets/icons/GithubIcon.svg" width={{iconWidth}}></a> <br>
      </p>
      <p>
        <a href="http://www.instagram.com/aidanabbott/"> <img src="../../assets/icons/InstagramIcon.svg" width={{iconWidth}}>   @aidanabbott</a> <br>
      </p>
      <p>
        <a href="http://twitter.com/aidantom"> <img src="../../assets/icons/TwitterIcon.svg" width={{iconWidth}}>   @aidantom</a>
      </p>
    </div>
  </div>
</div>
